Use Random Forest to prepare a model on fraud data 
treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Fraud_check.csv')
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [3]:
#renaming the columns
df.rename(columns={'Marital.Status':'Marital_Status','Taxable.Income':'Taxable_Income',
                      'City.Population':'City_Population','Work.Experience':'Work_Experience'},inplace=True)
df.head()

,Undergrad,Marital_Status,Taxable_Income,City_Population,Work_Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [4]:
#converting independent categorical variable  to numerial columns
df=pd.get_dummies(df,drop_first=True)
df.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES
0,68833,50047,10,0,0,1,1
1,33700,134075,18,1,0,0,1
2,36925,160205,30,0,1,0,1
3,50190,193264,15,1,0,1,1
4,81002,27533,28,0,1,0,0

In [5]:
a=pd.Series(df['Taxable_Income'])

In [6]:
# If income is less than 30000 label is good else risky 
lst=[]
for i in a:
    x='Good' if i<=30000 else 'Risky'
    lst.append(x)
print(lst)

['Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Good', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky', 'Risky']

In [7]:
a=pd.DataFrame(lst)

In [8]:
df['Tax_Inc']=a
df.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES,Tax_Inc
0,68833,50047,10,0,0,1,1,Risky
1,33700,134075,18,1,0,0,1,Risky
2,36925,160205,30,0,1,0,1,Risky
3,50190,193264,15,1,0,1,1,Risky
4,81002,27533,28,0,1,0,0,Risky

In [9]:
df.columns

Index(['Taxable_Income', 'City_Population', 'Work_Experience', 'Undergrad_YES',
       'Marital_Status_Married', 'Marital_Status_Single', 'Urban_YES',
       'Tax_Inc'],
      dtype='object')

In [10]:
# encoding target variable
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Tax_Inc']=le.fit_transform(df['Tax_Inc'])
df.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES,Tax_Inc
0,68833,50047,10,0,0,1,1,1
1,33700,134075,18,1,0,0,1,1
2,36925,160205,30,0,1,0,1,1
3,50190,193264,15,1,0,1,1,1
4,81002,27533,28,0,1,0,0,1

In [11]:
#Normalizing
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
df=mm.fit_transform(df)

In [12]:
df

array([[0.6564676 , 0.13947207, 0.33333333, ..., 1.        , 1.        ,
        1.        ],
       [0.26442823, 0.62239438, 0.6       , ..., 0.        , 1.        ,
        1.        ],
       [0.3004151 , 0.77256766, 1.        , ..., 0.        , 1.        ,
        1.        ],
       ...,
       [0.41656624, 0.73723987, 0.        , ..., 0.        , 1.        ,
        1.        ],
       [0.98853999, 0.88680969, 0.56666667, ..., 0.        , 0.        ,
        1.        ],
       [0.96540796, 0.76068253, 0.53333333, ..., 0.        , 0.        ,
        1.        ]])

In [13]:
# again converting to dataframe
df=pd.DataFrame(df,columns=['Taxable_Income', 'City_Population', 'Work_Experience', 'Undergrad_YES',
       'Marital_Status_Married', 'Marital_Status_Single', 'Urban_YES',
       'Tax_Inc'])

In [14]:
df.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES,Tax_Inc
0,0.656468,0.139472,0.333333,0.0,0.0,1.0,1.0,1.0
1,0.264428,0.622394,0.600000,1.0,0.0,0.0,1.0,1.0
2,0.300415,0.772568,1.000000,0.0,1.0,0.0,1.0,1.0
3,0.448436,0.962563,0.500000,1.0,0.0,1.0,1.0,1.0
4,0.792258,0.010081,0.933333,0.0,1.0,0.0,0.0,1.0

In [16]:
df=df.drop(columns=['Taxable_Income'],axis=1)
df.head()

,City_Population,Work_Experience,Undergrad_YES,Marital_Status_Married,Marital_Status_Single,Urban_YES,Tax_Inc
0,0.139472,0.333333,0.0,0.0,1.0,1.0,1.0
1,0.622394,0.600000,1.0,0.0,0.0,1.0,1.0
2,0.772568,1.000000,0.0,1.0,0.0,1.0,1.0
3,0.962563,0.500000,1.0,0.0,1.0,1.0,1.0
4,0.010081,0.933333,0.0,1.0,0.0,0.0,1.0

In [17]:
#X&y
X=df.drop(columns=['Tax_Inc'],axis=1)
y=df['Tax_Inc']

In [19]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=40)

In [20]:
#import classifier
from sklearn.ensemble import RandomForestClassifier

In [21]:
help(RandomForestClassifier)

Help on class RandomForestClassifier in module sklearn.ensemble._forest:

class RandomForestClassifier(ForestClassifier)
 |  RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)
 |
 |  A random forest classifier.
 |
 |  A random forest is a meta estimator that fits a number of decision tree
 |  classifiers on various sub-samples of the dataset and uses averaging to
 |  improve the predictive accuracy and control over-fitting.
 |  The sub-sample size is controlled with the `max_samples` parameter if
 |  `bootstrap=True` (default), otherwise the whole dataset is used to build
 |  each tree.
 |
 |  Read more in the :ref:`User Guide <forest>`.
 |
 |  Parameters
 |  ----------
 |  n_estimators : int, default=100
 |      The number of trees in the forest.
 |
 |      .. versionchanged:: 0.22
 |         The default value of ``n_estimators`` changed from 10 to 100
 |         in 0.22.
 |
 |  criterion : {"gini", "entropy"}, default="gini"
 |      The function to measure the quality of a split. Supported criteria are
 |      "gini" for the Gini impurity and "entropy" for the information gain.
 |      Note: this parameter is tree-specific.
 |
 |  max_depth : int, default=None
 |      The maximum depth of the tree. If None, then nodes are expanded until
 |      all leaves are pure or until all leaves contain less than
 |      min_samples_split samples.
 |
 |  min_samples_split : int or float, default=2
 |      The minimum number of samples required to split an internal node:
 |
 |      - If int, then consider `min_samples_split` as the minimum number.
 |      - If float, then `min_samples_split` is a fraction and
 |        `ceil(min_samples_split * n_samples)` are the minimum
 |        number of samples for each split.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_samples_leaf : int or float, default=1
 |      The minimum number of samples required to be at a leaf node.
 |      A split point at any depth will only be considered if it leaves at
 |      least ``min_samples_leaf`` training samples in each of the left and
 |      right branches.  This may have the effect of smoothing the model,
 |      especially in regression.
 |
 |      - If int, then consider `min_samples_leaf` as the minimum number.
 |      - If float, then `min_samples_leaf` is a fraction and
 |        `ceil(min_samples_leaf * n_samples)` are the minimum
 |        number of samples for each node.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_weight_fraction_leaf : float, default=0.0
 |      The minimum weighted fraction of the sum total of weights (of all
 |      the input samples) required to be at a leaf node. Samples have
 |      equal weight when sample_weight is not provided.
 |
 |  max_features : {"auto", "sqrt", "log2"}, int or float, default="auto"
 |      The number of features to consider when looking for the best split:
 |
 |      - If int, then consider `max_features` features at each split.
 |      - If float, then `max_features` is a fraction and
 |        `round(max_features * n_features)` features are considered at each
 |        split.
 |      - If "auto", then `max_features=sqrt(n_features)`.
 |      - If "sqrt", then `max_features=sqrt(n_features)` (same as "auto").
 |      - If "log2", then `max_features=log2(n_features)`.
 |      - If None, then `max_features=n_features`.
 |
 |      Note: the search for a split does not stop until at least one
 |      valid partition of the node samples is found, even if it requires to
 |      effectively inspect more than ``max_features`` features.
 |
 |  max_leaf_nodes : int, default=None
 |      Grow trees with ``max_leaf_nodes`` in best-first fashion.
 |      Best nodes are defined as relative reduction in impurity.
 |      If None then unlimited number of leaf nodes.
 |
 |  min_impurity_decrease : float, default=0.0
 |      A node will be split if this split induces a decrease of the impurity
 |      greater than or equal to this value.
 |
 |      The weighted impurity decrease equation is the following::
 |
 |          N_t / N * (impurity - N_t_R / N_t * right_impurity
 |                              - N_t_L / N_t * left_impurity)
 |
 |      where ``N`` is the total number of samples, ``N_t`` is the number of
 |      samples at the current node, ``N_t_L`` is the number of samples in the
 |      left child, and ``N_t_R`` is the number of samples in the right child.
 |
 |      ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
 |      if ``sample_weight`` is passed.
 |
 |      .. versionadded:: 0.19
 |
 |  min_impurity_split : float, default=None
 |      Threshold for early stopping in tree growth. A node will split
 |      if its impurity is above the threshold, otherwise it is a leaf.
 |
 |      .. deprecated:: 0.19
 |         ``min_impurity_split`` has been deprecated in favor of
 |         ``min_impurity_decrease`` in 0.19. The default value of
 |         ``min_impurity_split`` has changed from 1e-7 to 0 in 0.23 and it
 |         will be removed in 1.0 (renaming of 0.25).
 |         Use ``min_impurity_decrease`` instead.
 |
 |  bootstrap : bool, default=True
 |      Whether bootstrap samples are used when building trees. If False, the
 |      whole dataset is used to build each tree.
 |
 |  oob_score : bool, default=False
 |      Whether to use out-of-bag samples to estimate
 |      the generalization accuracy.
 |
 |  n_jobs : int, default=None
 |      The number of jobs to run in parallel. :meth:`fit`, :meth:`predict`,
 |      :meth:`decision_path` and :meth:`apply` are all parallelized over the
 |      trees. ``None`` means 1 unless in a :obj:`joblib.parallel_backend`
 |      context. ``-1`` means using all processors. See :term:`Glossary
 |      <n_jobs>` for more details.
 |
 |  random_state : int, RandomState instance or None, default=None
 |      Controls both the randomness of the bootstrapping of the samples used
 |      when building trees (if ``bootstrap=True``) and the sampling of the
 |      features to consider when looking for the best split at each node
 |      (if ``max_features < n_features``).
 |      See :term:`Glossary <random_state>` for details.
 |
 |  verbose : int, default=0
 |      Controls the verbosity when fitting and predicting.
 |
 |  warm_start : bool, default=False
 |      When set to ``True``, reuse the solution of the previous call to fit
 |      and add more estimators to the ensemble, otherwise, just fit a whole
 |      new forest. See :term:`the Glossary <warm_start>`.
 |
 |  class_weight : {"balanced", "balanced_subsample"}, dict or list of dicts,             default=None
 |      Weights associated with classes in the form ``{class_label: weight}``.
 |      If not given, all classes are supposed to have weight one. For
 |      multi-output problems, a list of dicts can be provided in the same
 |      order as the columns of y.
 |
 |      Note that for multioutput (including multilabel) weights should be
 |      defined for each class of every column in its own dict. For example,
 |      for four-class multilabel classification weights should be
 |      [{0: 1, 1: 1}, {0: 1, 1: 5}, {0: 1, 1: 1}, {0: 1, 1: 1}] instead of
 |      [{1:1}, {2:5}, {3:1}, {4:1}].
 |
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``
 |
 |      The "balanced_subsample" mode is the same as "balanced" except that
 |      weights are computed based on the bootstrap sample for every tree
 |      grown.
 |
 |      For multi-output, the weights of each column of y will be multiplied.
 |
 |      Note that these weights will be multiplied with sample_weight (passed
 |      through the fit method) if sample_weight is specified.
 |
 |  ccp_alpha : non-negative float, default=0.0
 |      Complexity parameter used for Minimal Cost-Complexity Pruning. The
 |      subtree with the largest cost complexity that is smaller than
 |      ``ccp_alpha`` will be chosen. By default, no pruning is performed. See
 |      :ref:`minimal_cost_complexity_pruning` for details.
 |
 |      .. versionadded:: 0.22
 |
 |  max_samples : int or float, default=None
 |      If bootstrap is True, the number of samples to draw from X
 |      to train each base estimator.
 |
 |      - If None (default), then draw `X.shape[0]` samples.
 |      - If int, then draw `max_samples` samples.
 |      - If float, then draw `max_samples * X.shape[0]` samples. Thus,
 |        `max_samples` should be in the interval `(0, 1)`.
 |
 |      .. versionadded:: 0.22
 |
 |  Attributes
 |  ----------
 |  base_estimator_ : DecisionTreeClassifier
 |      The child estimator template used to create the collection of fitted
 |      sub-estimators.
 |
 |  estimators_ : list of DecisionTreeClassifier
 |      The collection of fitted sub-estimators.
 |
 |  classes_ : ndarray of shape (n_classes,) or a list of such arrays
 |      The classes labels (single output problem), or a list of arrays of
 |      class labels (multi-output problem).
 |
 |  n_classes_ : int or list
 |      The number of classes (single output problem), or a list containing the
 |      number of classes for each output (multi-output problem).
 |
 |  n_features_ : int
 |      The number of features when ``fit`` is performed.
 |
 |  n_outputs_ : int
 |      The number of outputs when ``fit`` is performed.
 |
 |  feature_importances_ : ndarray of shape (n_features,)
 |      The impurity-based feature importances.
 |      The higher, the more important the feature.
 |      The importance of a feature is computed as the (normalized)
 |      total reduction of the criterion brought by that feature.  It is also
 |      known as the Gini importance.
 |
 |      Warning: impurity-based feature importances can be misleading for
 |      high cardinality features (many unique values). See
 |      :func:`sklearn.inspection.permutation_importance` as an alternative.
 |
 |  oob_score_ : float
 |      Score of the training dataset obtained using an out-of-bag estimate.
 |      This attribute exists only when ``oob_score`` is True.
 |
 |  oob_decision_function_ : ndarray of shape (n_samples, n_classes)
 |      Decision function computed with out-of-bag estimate on the training
 |      set. If n_estimators is small it might be possible that a data point
 |      was never left out during the bootstrap. In this case,
 |      `oob_decision_function_` might contain NaN. This attribute exists
 |      only when ``oob_score`` is True.
 |
 |  See Also
 |  --------
 |  DecisionTreeClassifier, ExtraTreesClassifier
 |
 |  Notes
 |  -----
 |  The default values for the parameters controlling the size of the trees
 |  (e.g. ``max_depth``, ``min_samples_leaf``, etc.) lead to fully grown and
 |  unpruned trees which can potentially be very large on some data sets. To
 |  reduce memory consumption, the complexity and size of the trees should be
 |  controlled by setting those parameter values.
 |
 |  The features are always randomly permuted at each split. Therefore,
 |  the best found split may vary, even with the same training data,
 |  ``max_features=n_features`` and ``bootstrap=False``, if the improvement
 |  of the criterion is identical for several splits enumerated during the
 |  search of the best split. To obtain a deterministic behaviour during
 |  fitting, ``random_state`` has to be fixed.
 |
 |  References
 |  ----------
 |  .. [1] L. Breiman, "Random Forests", Machine Learning, 45(1), 5-32, 2001.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.ensemble import RandomForestClassifier
 |  >>> from sklearn.datasets import make_classification
 |  >>> X, y = make_classification(n_samples=1000, n_features=4,
 |  ...                            n_informative=2, n_redundant=0,
 |  ...                            random_state=0, shuffle=False)
 |  >>> clf = RandomForestClassifier(max_depth=2, random_state=0)
 |  >>> clf.fit(X, y)
 |  RandomForestClassifier(...)
 |  >>> print(clf.predict([[0, 0, 0, 0]]))
 |  [1]
 |
 |  Method resolution order:
 |      RandomForestClassifier
 |      ForestClassifier
 |      sklearn.base.ClassifierMixin
 |      BaseForest
 |      sklearn.base.MultiOutputMixin
 |      sklearn.ensemble._base.BaseEnsemble
 |      sklearn.base.MetaEstimatorMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from ForestClassifier:
 |
 |  predict(self, X)
 |      Predict class for X.
 |
 |      The predicted class of an input sample is a vote by the trees in
 |      the forest, weighted by their probability estimates. That is,
 |      the predicted class is the one with highest mean probability
 |      estimate across the trees.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, its dtype will be converted to
 |          ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      y : ndarray of shape (n_samples,) or (n_samples, n_outputs)
 |          The predicted classes.
 |
 |  predict_log_proba(self, X)
 |      Predict class log-probabilities for X.
 |
 |      The predicted class log-probabilities of an input sample is computed as
 |      the log of the mean predicted class probabilities of the trees in the
 |      forest.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, its dtype will be converted to
 |          ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      p : ndarray of shape (n_samples, n_classes), or a list of n_outputs
 |          such arrays if n_outputs > 1.
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  predict_proba(self, X)
 |      Predict class probabilities for X.
 |
 |      The predicted class probabilities of an input sample are computed as
 |      the mean predicted class probabilities of the trees in the forest.
 |      The class probability of a single tree is the fraction of samples of
 |      the same class in a leaf.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, its dtype will be converted to
 |          ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      p : ndarray of shape (n_samples, n_classes), or a list of n_outputs
 |          such arrays if n_outputs > 1.
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True labels for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of ``self.predict(X)`` wrt. `y`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClassifierMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseForest:
 |
 |  apply(self, X)
 |      Apply trees in the forest to X, return leaf indices.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, its dtype will be converted to
 |          ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      X_leaves : ndarray of shape (n_samples, n_estimators)
 |          For each datapoint x in X and for each tree in the forest,
 |          return the index of the leaf x ends up in.
 |
 |  decision_path(self, X)
 |      Return the decision path in the forest.
 |
 |      .. versionadded:: 0.18
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, its dtype will be converted to
 |          ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      indicator : sparse matrix of shape (n_samples, n_nodes)
 |          Return a node indicator matrix where non zero elements indicates
 |          that the samples goes through the nodes. The matrix is of CSR
 |          format.
 |
 |      n_nodes_ptr : ndarray of shape (n_estimators + 1,)
 |          The columns from indicator[n_nodes_ptr[i]:n_nodes_ptr[i+1]]
 |          gives the indicator value for the i-th estimator.
 |
 |  fit(self, X, y, sample_weight=None)
 |      Build a forest of trees from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The training input samples. Internally, its dtype will be converted
 |          to ``dtype=np.float32``. If a sparse matrix is provided, it will be
 |          converted into a sparse ``csc_matrix``.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          The target values (class labels in classification, real numbers in
 |          regression).
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. In the case of
 |          classification, splits are also ignored if they would result in any

In [47]:
model=RandomForestClassifier(n_estimators=100,max_features=3,random_state=100)

In [48]:
#fit the model
model.fit(X_train,y_train)

RandomForestClassifier(max_features=3, random_state=100)

In [49]:
ypred=model.predict(X_test)

In [50]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ypred,y_test)

array([[ 0,  5],
       [28, 87]], dtype=int64)

In [51]:
#train Accuracy
model.score(X_train,y_train)  # by default parameter 100% accuracy as max_depth=None

1.0

In [52]:
#test Accuracy
model.score(X_test,y_test)

0.725

In [53]:
# important features
model.feature_importances_

array([0.51446684, 0.32229958, 0.04083847, 0.03857824, 0.03143995,
       0.05237693])

In [56]:
# grid Search cv
from sklearn.model_selection import GridSearchCV
param_grid={'n_estimators':[30,60,100,150,250,500],'max_features':[2,3,4]}
grid=GridSearchCV(estimator=RandomForestClassifier(),param_grid=param_grid,cv=5,scoring='accuracy')
grid.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_features': [2, 3, 4],
                         'n_estimators': [30, 60, 100, 150, 250, 500]},
             scoring='accuracy')

# problem 2

Random Forest
 
Assignment


About the data: 
Let’s consider a Company dataset with around 10 variables and 400 records. 
The attributes are as follows: 
 Sales -- Unit sales (in thousands) at each location
 Competitor Price -- Price charged by competitor at each location
 Income -- Community income level (in thousands of dollars)
 Advertising -- Local advertising budget for company at each location (in thousands of dollars)
 Population -- Population size in region (in thousands)
 Price -- Price company charges for car seats at each site
 Shelf Location at stores -- A factor with levels Bad, Good and Medium indicating the quality of the shelving location
for the car seats at each site
 Age -- Average age of the local population
 Education -- Education level at each location
 Urban -- A factor with levels No and Yes to indicate whether the store is in an urban or rural location
 US -- A factor with levels No and Yes to indicate whether the store is in the US or not
The company dataset looks like this: 
 
Problem Statement:
A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) 
& all other variable will be independent in the analysis.

In [63]:
company_data=pd.read_csv('Company_Data.csv')
company_data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [64]:
#describing
company_data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [65]:
#checking for missing value
company_data.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [66]:
company_data=pd.get_dummies(company_data,drop_first=True)

In [67]:
company_data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Good,ShelveLoc_Medium,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,42,17,0,0,1,1
1,11.22,111,48,16,260,83,65,10,1,0,1,1
2,10.06,113,35,10,269,80,59,12,0,1,1,1
3,7.40,117,100,4,466,97,55,14,0,1,1,1
4,4.15,141,64,3,340,128,38,13,0,0,1,0

In [69]:
X=company_data.drop(columns=['Sales'],axis=1)
y=company_data['Sales']

In [70]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=40)

In [73]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100,random_state = 42)
rf.fit(X_train,y_train)

RandomForestRegressor(random_state=42)

In [74]:
rf.score(X_train,y_train)  #train rsquare value

0.9581423979937621

In [75]:
rf.score(X_test,y_test)    #test rsquare value

0.6340838107898713